* {
    box-sizing: border-box;
}

body {
    background: #fffed7;
    font-family: Helvetica;
    height: 100%;
}
h1 {
    text-align: center;
}
main {
    width: 1200px;
    margin: 0 auto;
    background: black;
}
table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
}
th {
    text-transform: uppercase;
}
td, th {
    border: 3px solid black;
    text-align: center;
    background: #C5DCA0;
    height: 2em;
}

.add-btn {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 1em 0;
    background: #A491D3;
    border: 3px solid black;
    border-top: 0;
    color: white;
    font-weight: bold;
    font-size: 1em;
}

td button.edit-btn {
    padding: 0 !important;
}

.edit-btn {
    display: inline-block;
    border: 0;
    background: #818AA3;
    color: whitesmoke;
    height: 3em;
    width: 100%;
    font-weight: bold;
}

.delete-form {
    width: 100%;
}
.save-btn,
.cancel-btn,
.delete-btn,
.save-create-btn,
.cancel-create-btn{
    display: block;
    width: 100%;
    height: 3em;
    font-weight: bold;
}

.save-btn,
.save-create-btn {
    background-color: #90ee90;
}

.cancel-btn,
.cancel-create-btn{
    background-color: #eee8aa;
}

.delete-btn {
    background-color: #deaca1;
}

.save-btn:hover {
    background-color: #a7ffa7;
}

.cancel-btn:hover {
    background-color: #fff9b6;
}

.delete-btn:hover {
    background-color: #f6c4b3;
}

.edit-btn:hover {
    background: #929BB4;
}

.edit-btn:active {
    background: whitesmoke;
    color: #818AA3;
}

.add-btn:hover {
    background-color: #B5A2E4;
}

.add-btn:active {
    background: whitesmoke;
    color: #A491D3;
}

.delete-form {
    display: inline-block;
}

.hide {
    display: none;
}

@media (max-width: 1200px) {
    body {
        background: black;
    }
    h1 {
        font-size: 1.2em;
        color: whitesmoke;
        margin-top: 1em;
    }
    main,
    table {
        width: 100%;
    }
    main {
        background: black;
    }
    input {
        width: calc(100% - 4px);
    }
    td {
        height: 100%;
        border: 0;
        padding: .5em;
    }
    tr:first-child {
        display: none;
    }
    tr {
        border: 6px solid black;
        border-radius: 10px;
        padding: 0em;
        border-bottom: 0;
    }
    tr, td {
        display: block;
        width: 100%;

    }
    td:before {
        font-weight: bold;
        text-transform: uppercase;
    }
    td:nth-child(1):before {
        content: "First Name ---- ";
    }

    td:nth-child(2):before {
        content: "Middle Initial ---- ";
    }

    td:nth-child(3):before {
        content: "Last Name ---- ";
    }

    td:nth-child(4):before {
        content: "Suffix ---- ";
    }

    td:nth-child(5):before {
        content: "Phone Number ---- ";
    }

    td:nth-child(6):before {
        content: "Email ---- ";
    }

    td:nth-child(7):before {
        content: "Address ---- ";
    }

    .hide-before::before {
        content: none !important;
    }

    .add-btn {
        width: calc(100%);
        border-right: 6px solid black;
        border-left: 6px solid black;
        border-bottom: 6px solid black;
    }

}